@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;600;700&display=swap');

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Sora', sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100%;
  padding: 3rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  color: var(--vt-c-white-soft);
  background: var(--vt-c-black-soft);
  transition: color 0.5s,
  background-color 0.5s;

  background-image: url(image/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(100px);
  position: relative;
}