@import './base.css';

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-mute: #b4b4b4;
  --vt-c-white-line: #b4b4b42a;

  --vt-c-black: #181818;
  --vt-c-black-mute: #282828;

  --vt-c-green: #47A992;

}

#app {
  max-width: 55%;
  text-align: center;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0 2rem 0;
}

#main {
  position: relative;
}

form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0 1rem;
  z-index: 1;
}

.title {
  color: var(--vt-c-green);
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}

.text {
  color: var(--vt-c-white);
  font-size: 1.1rem;
}

.done {
  text-decoration: line-through;
}

li {
  max-width: 90%;
  min-height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  color: var(--vt-c-white);
  font-size: 1.3rem;
  padding: 3rem 0;
  border-bottom: 1px solid var(--vt-c-white-line);
}

li span {
  position: absolute;
  word-wrap: break-word;
  left: 2.5rem;
  margin: 0 1rem;
}

li button {
  background-color: var(--vt-c-green);
  color: var(--vt-c-white);
  font-weight: 600;
  position: absolute;
  right: 0;
  height: 2rem;
  width: 2rem;
  border-radius: .2rem;
  border: none;
  outline: none;
  cursor: pointer;

  transition: transform .2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.30) 0 5px 20px;
}

li button:hover {
  transform: scale(1.1);
}

li input[type="checkbox"] {
  accent-color:  var(--vt-c-green);
  position: absolute;
  left: 0;
  height: 1.6rem;
  width: 1.6rem;
  border: none;
  outline:none;

  box-shadow: rgba(0, 0, 0, 0.30) 0 5px 20px;
}

ul {
  list-style: none;
  max-width: 90%;
  margin: 2rem 0 0 0;
}

.textTodo {
  color: var(--vt-c-black-mute);
  border-radius: .5rem;
  outline: none;
  border: none;
  height: 3.5rem;
  width: 34rem;
  padding: 0 1rem;

  box-shadow: rgba(0, 0, 0, 0.30) 0 5px 20px;
}

.addTask {
  background-color: var(--vt-c-green);
  color: var(--vt-c-white);
  font-size: 1.8rem;
  border-radius: .5rem;
  font-weight: 600;
  border: none;
  height: 3.5rem;
  width: 5rem;
  cursor: pointer;
  z-index: 2;

  box-shadow: rgba(0, 0, 0, 0.427) 0 5px 20px;
}

.textTodo::placeholder {
  color: var(--vt-c-black-mute);
  opacity: .5;
}

.hidden {
  background-color: var(--vt-c-green);
  color: var(--vt-c-white);
  font-size: 1.1rem;
  border-radius: .5rem;
  font-weight: 600;
  border: none;
  height: 3.5rem;
  width: 12rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 2;

  box-shadow: rgba(0, 0, 0, 0.427) 0 5px 20px;
}

@media (min-width: 1000px) {

  #app {
    max-width: 60%;
  }

  form {
    justify-content: center;
    flex-direction: row;
    gap: .9rem;
  }

  ul {
    max-width: 100%;
    margin: 2rem 0 0 0;
  }

  li {
    max-width: 100%;
    border-bottom: 1px solid var(--vt-c-white-mute);
  }

  li span {
    max-width: 88%;
  }

  li button {
    height: 2.5rem;
    width: 2.5rem;
    top: 7.5rem;
    right: 0;
  }

  .textTodo {
    width: 33rem;
  }

  .addTask {
    width: 8rem;
  }

  .hidden {
    width: 7rem;
    top: 0;
    right: 0;
  }

  .title  {
    color: var(--vt-c-green);
  }

  .text {
    width: 90%;
  }
}


@media (min-width: 899px) and (max-width: 999px) {

  #app {
    max-width: 90%;
  }

  form {
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
  }

  ul {
    max-width: 100%;
    margin: 2rem 0 0 0;
  }

  li {
    max-width: 100%;
    border-bottom: 1px solid var(--vt-c-white);
  }

  li span {
    max-width: 90%;
  }

  li button {
    height: 1.5rem;
    width: 1.5rem;
    top: 11rem;
    left: 0;
  }

  .textTodo {
    width: 100%;
  }

  .addTask {
    width: 8rem;
  }

  .hidden {
    width: 6.35rem;
    top: 4.5rem;
    right: 0;
  }

  .title  {
    color: var(--vt-c-white);
  }

  .text {
    width: 90%;
  }
}

@media (min-width: 640px) and (max-width: 899px) {

  #app {
    max-width: 90%;
  }

  form {
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
  }

  ul {
    max-width: 100%;
    margin: 2rem 0 0 0;
  }

  li {
    max-width: 100%;
    border-bottom: 1px solid var(--vt-c-white);
  }

  li span {
    max-width: 90%;
  }

  li button {
    height: 1.5rem;
    width: 1.5rem;
    top: 11rem;
    left: 0;
  }

  .textTodo {
    width: 100%;
  }

  .addTask {
    width: 8rem;
  }

  .hidden {
    width: 6.35rem;
    top: 4.5rem;
    right: 0;
  }

  .title  {
    color: var(--vt-c-white);
  }

  .text {
    width: 90%;
  }
}

@media (min-width: 430px) and (max-width: 639px) {

  #app {
    max-width: 90%;
  }

  form {
    justify-content: center;
    flex-direction: column;
    gap: 0;
  }

  ul {
    max-width: 100%;
    margin: 2rem 0 0 0;
  }

  li {
    max-width: 100%;
    border-bottom: 1px solid var(--vt-c-white);
  }

  li span {
    word-wrap: break-word;
    max-width: 90%;
  }

  li button {
    height: 1.5rem;
    width: 1.5rem;
    top: 11rem;
    left: 0;
  }

  .textTodo {
    width: 100%;
  }

  .addTask {
    position: absolute;
    top: 4.55rem;
    left: 0;
    width: 8rem;
  }

  .hidden {
    width: 8rem;
    top: 4.5rem;
    right: 0;
  }

  .title  {
    color: var(--vt-c-white);
  }

  .text {
    width: 90%;
  }
}

@media (max-width: 429px) {

  #app {
    max-width: 90%;
  }

  form {
    flex-direction: column;
    gap: 0;
  }

  ul {
    max-width: 100%;
  }

  li {
    border-bottom: 1px solid var(--vt-c-white);
  }

  li span {
    max-width: 90%;
  }

  li button {
    height: 1.5rem;
    width: 1.5rem;
    top: 11rem;
    left: 0;
  }

  .textTodo {
    width: 100%;
    scroll-snap-type: initial;
  }

  .addTask {
    position: absolute;
    top: 4.55rem;
    left: 0;
    width: 8rem;
  }

  .hidden {
    width: 8rem;
    top: 4.5rem;
    right: 0;
  }

  .title  {
    color: var(--vt-c-white);
  }

  .text {
    width: 90%;
  }

}